body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 320px;
    background-color: #282c34;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.display {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2.5em;
    border-bottom: 1px solid #444;
}


.history-display {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75em;
    text-align: left;
    padding: 5px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.button {
    padding: 20px;
    background-color: #444;
    border: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

.operator {
    background-color: #ff9500;
}

.operator:hover {
    background-color: #e68900;
}

.equals {
    background-color: #ff3b30;
    grid-column: span 2;
}

.equals:hover {
    background-color: #e33228;
}

.clear {
    background-color: #ffcc00;
}

.clear:hover {
    background-color: #e6b800;
}
